h4{
margin-left:  25px;
    width: 30%;
}
.p{
    width: 80%;
}
.an{
    padding-right: 70px;
}
.shift{
    padding-right: 70px;
    margin-left: 20px;
}
.lock{
    padding-right: 70px;
}
.a{
   
    display: inline-block;
}

        


    


